@import "../../styles/styles.scss";

.feature {
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__title {
        font-size: $text-6xl;
        color: #fff;
        text-transform: uppercase;
    }

    &__lead {
        margin-top: 59px;
        max-width: 677px;

        font-size: $text-xl;
        font-weight: 400;
        line-height: 1.75;
        color: #fff;
    }

    @media screen and (max-width: $breakpoint-xxl) {
        &__content {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__title {
            font-size: $text-6xl;
        }

        &__lead {
            margin-top: 59px;
            max-width: 677px;
            font-size: $text-xl;
        }
    }

    @media screen and (max-width: $breakpoint-xl) {
        &__content {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &__title {
            font-size: $text-5xl;
        }

        &__lead {
            margin-top: 59px;
            max-width: 677px;
            font-size: $text-xl;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        &__content {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        &__title {
            font-size: $text-5xl;
        }

        &__lead {
            margin-top: 40px;
            max-width: 577px;
            font-size: $text-base;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        &__content {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &__title {
            font-size: $text-5xl;
        }

        &__lead {
            margin-top: 40px;
            max-width: 577px;
            font-size: $text-base;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        &__content {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__title {
            font-size: $text-4xl;
        }

        &__lead {
            margin-top: 35px;
            max-width: 577px;
            font-size: $text-base;
        }
    }

    @media screen and (max-width: $breakpoint-xs) {
        &__content {
            padding-top: 45px;
            padding-bottom: 45px;
        }

        &__title {
            font-size: $text-4xl;
        }

        &__lead {
            margin-top: 30px;
            max-width: 577px;
            font-size: $text-base;
        }
    }
}
