$ff-primary: "Montserrat", montserrat;
$ff-secondary: "Noto Sans KR", noto-sans-kr;

$text-primary-900: hsl(47, 70%, 4%);
$text-primary-800: hsl(0, 0%, 7%);
$text-primary-700: hsl(0, 0%, 13%);
$text-primary-600: hsl(0, 0%, 20%);
$text-primary-500: hsl(0, 0%, 40%);
$text-primary-400: hsl(0, 0%, 66%);

$text-secondary-900: hsl(24, 100%, 49%);
$text-secondary-800: hsl(24, 95%, 56%);

$text-tertiary-900: hsl(48, 97%, 58%);

$bg-primary: hsl(0, 0%, 100%);
$bg-secondary: hsl(48, 98%, 50%);
$bg-tertiary: hsl(208, 95%, 38%);

$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 23px;
$text-3xl: 25px;
$text-4xl: 30px;
$text-5xl: 45px;
$text-6xl: 50px;
$text-7xl: 55px;

$transition-speed: 200ms;

$breakpoint-xs: 390px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

::root {
    --text-primary-900: hsl(47, 70%, 4%);
    --text-primary-800: hsl(0, 0%, 7%);
    --text-primary-700: hsl(0, 0%, 13%);
    --text-primary-600: hsl(0, 0%, 20%);
    --text-primary-500: hsl(0, 0%, 40%);
    --text-primary-400: hsl(0, 0%, 66%);

    --text-secondary-900: hsl(24, 100%, 49%);
    --text-secondary-800: hsl(24, 95%, 56%);

    --text-tertiary-900: hsl(48, 97%, 58%);

    --bg-primary: hsl(0, 0%, 100%);
    --bg-secondary: hsl(48, 98%, 50%);
    --bg-tertiary: hsl(208, 95%, 38%);

    // --text-xs: 16px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 23px;
    --text-3xl: 25px;
    --text-4xl: 30px;
    --text-5xl: 45px;
    --text-6xl: 50px;
    --text-7xl: 55px;

    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Noto Sans KR", sans-serif;
}
