@import "../../styles/styles.scss";

.best-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        text-align: center;
        padding-top: 60px;
    }

    &__title {
        font-size: $text-6xl;
        color: $text-secondary-900;
        text-transform: uppercase;
    }

    &__lead {
        max-width: 675px;
        margin-top: 25px;

        color: $text-secondary-900;
        font-size: $text-xl;
        line-height: 1.6;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-top: 107px;
        padding-bottom: 150px;
    }

    @media screen and (max-width: $breakpoint-xxl) {
        &__title {
            font-size: $text-6xl;
        }

        &__lead {
            max-width: 650px;
            margin-top: 25px;

            font-size: $text-lg;
        }
    }

    @media screen and (max-width: $breakpoint-xl) {
        &__title {
            font-size: $text-5xl;
        }

        &__lead {
            max-width: 675px;
            margin-top: 25px;

            font-size: $text-lg;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        &__title {
            font-size: $text-5xl;
        }

        &__lead {
            max-width: 477px;
            margin-top: 30px;

            font-size: $text-base;
        }

        &__list {
            flex-direction: column;
            gap: 100px;
            margin-top: 80px;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        &__title {
            font-size: $text-5xl;
        }

        &__lead {
            max-width: 650px;
            margin-top: 25px;

            font-size: $text-base;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        &__title {
            font-size: $text-4xl;
        }

        &__lead {
            max-width: 650px;
            margin-top: 25px;

            font-size: $text-base;
        }
    }

    @media screen and (max-width: $breakpoint-xs) {
        &__title {
            font-size: $text-4xl;
        }

        &__lead {
            max-width: 650px;
            margin-top: 25px;

            font-size: $text-base;
        }
    }
}
