@import "../../styles/styles.scss";

.best-product {
    position: relative;

    flex-grow: 1;
    flex-basis: 0;

    &__count {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(0, -50%);

        width: 92px;

        img {
            width: 100%;
        }
    }

    &__image {
        display: block;

        img {
            width: 100%;
        }
    }

    &__cta {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 85%;
        padding-left: 27px;
        padding-right: 8px;
        background: #fff;
        border: 3px solid #020001;

        color: $text-primary-700;
        font-size: $text-xl;
        font-weight: 800;
        text-align-last: left;
    }

    &__cta-icon {
        margin-left: 80px;
        padding: 6px 0;

        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 1700px) {
        &__cta-icon {
            margin-left: 0;
        }
    }

    @media screen and (max-width: $breakpoint-xxl) {
        &__cta {
            font-size: $text-lg;
        }

        &__cta-icon {
            margin-left: 0;
        }
    }

    @media screen and (max-width: $breakpoint-xl) {
        &__cta {
            padding-left: 18px;
            font-size: $text-base;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        width: 70%;

        &__cta {
            width: 80%;
            padding-left: 10px;
            font-size: $text-lg;
        }
    }

    @media screen and (max-width: 820px) {
        &__cta {
            width: 89%;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        &__cta {
            width: 80%;
            font-size: $text-lg;
        }

        &__cta-icon {
            width: 75px;
            margin-left: 30px;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        &__cta {
            width: 80%;
            font-size: $text-base;
        }

        &__cta-icon {
            margin-left: 0;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: 80%;

        &__cta {
            width: 85%;
        }

        &__cta-icon {
            margin-left: 0;
        }
    }
}
